@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    main {
      width: min(100vw, 800px);

      padding: 20px;
      grid-template-columns: 1fr 0.6fr 0.4fr;
      grid-template-rows: 1fr 0.5fr;
      gap: 30px;
    }
  }
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    main {
      width: min(100vw, 800px);

      padding: 20px;
      grid-template-columns: 1fr 0.7fr;
      grid-template-rows: 0.1fr min-content 1fr;
      gap: 30px;
    }
  }
}
 
@media all and (max-width: 480px) { }