@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  .four {
    grid-column: 2 / 4;
    .button-container {
      justify-content: space-between;
      h1 {
        display: none;
      }
      #horizontal-line {
        order: 2
      }
      .nav-buttons {
        order: 3;
      }
      .forecast-buttons {
        order: 1;
      }
    }
    ul {
      justify-content: center;
    }
    #heart {
      visibility: hidden;
    }
  }  
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
  .four {
    grid-column: 1 / 3;
    .button-container {
      justify-content: space-between;
    }
    #heart {
      width: clamp(100px, 25vw + 50px, 255px);
    }
  }  
}
 
@media all and (max-width: 480px) {
  .four {
    grid-column: 1 / 2;
    .button-container {
      justify-content: space-between;
      h1 {
        display: none;
      }
      #horizontal-line {
        order: 2
      }
      .nav-buttons {
        order: 3;
      }
      .forecast-buttons {
        order: 1;
      }
    }
    ul {
      justify-content: center;
      li {
        height: 160px;
        width: 90px;
        h1 {
          font-size: 0.9rem;
        }
        h2 {
          font-size: 1rem;
        }
        h3 {
          font-size: 0.7rem;
        }
        img {
          width: 45px;
        }
      }
    }
    #heart {
      visibility: hidden;
    }
  }  
}

