@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  .three {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
}
 
@media all and (min-width: 480px) and (max-width: 768px) {
  .three {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
 
@media all and (max-width: 480px) {
  .three {
    grid-column: 1 / 2;
    margin-bottom: 15px;
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}