header {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .search {
    position: relative;
    div {
      width: 300px;

      display: flex;
      align-items: center;

      &:hover > input {
        width: 220px;
      }
      &:hover > button {
        opacity: 1;
        visibility: visible;
        left: 225px;
      }
      input {
        color: white;
        font-size: 0.9rem;
        border-radius: 25px;
        border: none;
        background-color: rgb(8, 24, 39);
        padding: 5px 10px 5px 35px;
        caret-color: white;
        width: 170px;

        position: relative;
        z-index: 1;

        transition: width 0.8s;
        &::placeholder{
          color: rgba(255, 255, 255, 0.192);
          font-size: 0.9rem;
          padding: 0px 5px;
        }
        &:focus {
          outline: none;
          width: 220px;
        }
        &:focus ~ button {
          opacity: 1;
          visibility: visible;
          left: 225px;
        }
      }
      button {
        height: 28px;
        width: 28px;
        background-color: var(--main-theme);
        border: none;
        border-radius: 50px;
        padding: 5px;
        opacity: 0;
        visibility: hidden;
        transform: rotate(-45deg);
        cursor: pointer;

        position: absolute;
        left: 0px;
        z-index: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.9s, visibility 0.9s, left 0.9s, transform 0.2s;

        &:hover {
          transform: rotate(0deg);
        }
        &:active {
          transform: scale(85%);
        }
        svg {
          stroke: white;
        }
      }
    }
    .search-icon {
      position: absolute;
      stroke: rgb(206, 206, 206);
      top: 5px;
      left: 6px;
      z-index: 1;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: white;
      font-size: 0.9rem;;
      font-weight: 500;
    }
    svg {
      stroke: var(--orange-theme);
      width: 50px;
    }
  }
}