.two {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  padding: 25px 0px;

  grid-column: 3 / 4;
  grid-row: 1 / 2;
  &__split-one {
    p {
      color: var(--font-theme);
      font-size: 0.65rem;
      font-weight: 800;
      border-radius: 25px;
      margin-bottom: 12px;
    }
    #month-date{
      color: var(--font-theme);;
      font-size: 0.65rem;
      font-weight: 800;
      line-height: 0.75rem;
    }
    #clock {
      color: var(--font-theme);;
      font-size: 0.65rem;
      font-weight: 800;
      line-height: 0.65rem;
    }
  }
  &__split-two {
    display: flex;
    gap: 5px;
    .circle-one {
      height: 6px;
      width: 6px;
      border-radius: 25px;
      background-color: rgb(84, 164, 255);
    }
    .circle-two {
      height: 6px;
      width: 6px;
      border-radius: 25px;
      background-color: rgb(119, 88, 255);
    }
    .circle-three {
      height: 6px;
      width: 6px;
      border-radius: 25px;
      background-color: rgb(169, 94, 255);
    }
  }
}