.three {
  background-color: var(--main-theme);
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;

  display: flex;
  flex-direction: column;
  align-items: start;

  grid-column: 2 / 3;
  &-header {
    width: 100%;
    margin: 5px 0px 7px 4px;

    display: flex;
    align-items: center;
    gap: 15px;
    h1 {
      color: var(--main-theme);
      font-size: 0.9rem;
      letter-spacing: 1px;
      font-weight: bold;
      background-color: white;
      border-radius: 25px;
      padding: 1px 30px;
      margin: 5px 0px;
      width: max-content;
      flex: 0;
    }
    div {
      border: 1px solid rgb(196, 196, 196);
      border-radius: 25px;
      height: 1px;
      flex: 1;
      width: 100%;
      margin-right: 15px;
    }
  }
  .grid {
    margin-top: 5px;
    width: 100%;

    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 25px;
    .feels-like {
      display: flex;
      gap: 5px;
      svg {
        fill: white;
        width: 32px;
        align-self: start;
      }
      &-details {
        h1 {
          color: white;
          font-size: 0.7rem;
          font-weight: bold;
        }
        h2 {
          color: white;
          font-size: clamp(1rem, 1.9vw + 0.5rem, 1.8rem);
          font-weight: bold;
        }
      }
    }
    .humidity {
      display: flex;
      gap: 5px;
      svg {
        fill: white;
        width: 35px;
        align-self: start;
      }
      &-details {
        h1 {
          color: white;
          font-size: 0.7rem;
          font-weight: bold;
        }
        h2 {
          color: white;
          font-size: clamp(1rem, 1.9vw + 0.5rem, 1.8rem);
          font-weight: bold;
        }
      }
    }
    .chance-of-rain {
      display: flex;
      gap: 5px;
      svg {
        fill: white;
        width: 35px;
        align-self: start;
      }
      &-details {
        h1 {
          color: white;
          font-size: 0.7rem;
          font-weight: bold;
        }
        h2 {
          color: white;
          font-size: clamp(1rem, 1.9vw + 0.5rem, 1.8rem);
          font-weight: bold;
        }
      }
    }
    .wind-speed {
      display: flex;
      gap: 5px;
      svg {
        fill: white;
        width: 35px;
        align-self: start;
      }
      &-details {
        h1 {
          color: white;
          font-size: 0.7rem;
          font-weight: bold;
        }
        h2 {
          color: white;
          font-size: clamp(1rem, 1.9vw + 0.5rem, 1.8rem);
          font-weight: bold;
        }
      }
    }
  }
}